{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["react-css-modules", {
      "exclude": "node_modules",
      "generateScopedName": "[name]_[local]_[hash:base64:5]",
      "webpackHotModuleReloading": true
    }]
  ]
}